body {
  background-color: #150d4a;
}
.head {
  height: 100%;
  width: 100%;
  opacity: 0.5;
  position: relative;
  text-align: center;
}
.container {
  position: relative;
  text-align: center;
  background-color: #150d4a;
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 5;
  overflow: hidden;
  position: sticky;
  position: absolute;
  top: 10px;
  right: 10px;
}

.nav .bar {
  float: right;
}

.nav .bar .link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav .bar .link:hover {
  background-color: #0ab4f7;
}
.name {
  position: absolute;
  top: 65px;
  left: 50px;
  color: yellow;
  font-size: 100px;
  font-family: Times New Roman;
  letter-spacing: 5px;
  word-spacing: 25px;
  font-weight: bold;
}
.magazine {
  position: absolute;
  top: 155px;
  left: 55px;
  color: white;
  font-size: 24px;
  font-family: Georgia;
}
.topic {
  position: absolute;
  top: 400px;
  left: 50px;
  color: white;
  font-size: 75px;
  font-family: Lucida Console;
  text-shadow: 0 0 10px #0ab4f7;
  font-weight: bold;
}
.tagline {
  position: absolute;
  top: 300px;
  right: 75px;
  color: white;
  font-size: 24px;
  font-family: Georgia;
}
.date {
  position: absolute;
  top: 700px;
  left: 75px;
  color: white;
  font-size: 18px;
  font-family: Times New Roman;
  opacity: 0.8;
}
.intro {
  position: absolute;
  padding: 5;
  text-align: justify;
  color: white;
  font-size: 24px;
  font-family: Times New Roman;
}
h1 { 
  text-align: left;
  color: white;
   font-family: Times New Roman;
}
.note  {
  text-align: justify;
  color: white;
  font-size: 24px;
  font-family: Times New Roman;
}
.picture {
  width: 250px;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
}
.profile  {
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: Times New Roman;
}
.image { 
        width: 350px;
         height: 250px;
         border-radius: 10px;
         transition: 0.4s;
}
.image:hover { 
        transform: scale(1.05); 
}
.news {
      flex: 10%;
      padding: 5px;
}
.articles {
  display: flex;
}
.headline {
text-decoration: none;
color: white;
text-align: center;
font-size: 18px;
}
.headline:hover {
text-decoration: underline;
color: lightblue;
text-align: center;
font-size: 18px;
}
.thumbnail { 
        float: left;
        margin-right: 20px;
        width: 350px;
        height: 250px;
}
.related {
text-decoration: underline;
color: white;
text-align: center;
font-size: 20px;
}
.related:hover {
text-decoration: underline;
color: lightblue;
text-align: center;
font-size: 20px;
}
.date {
color: white;
font-size: 20px;
}
.reference {
  padding: 1;
  overflow: hidden;
  position: absolute;
  color: white;

}

.reference .ref .links {
  display: block;
  color: white;
  text-align: justify;
  padding: 4px 6px;
  text-decoration: none;
}
.reference .ref .links:hover {
  text-decoration: underline;
  color: lightblue;
  text-align: justify;
}
h2.contact {
color: white;
}

p.info {
color: white;
}
blockquote {
color: gray;
text-align: center;
}
body.art {
  background-color: #fffffc;
}
.introduction {
color: black;
text-align: justify;
text-indent: 10px;
font-size: 24px;
}
.introduction::first-letter {
color: red;
font-size: 40px;
}
